<a href="https://colab.research.google.com/github/meerarahulnew-dsgit/applied-data-science-lab-portfolio/blob/notebooks/01_data_acquisition_and_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 1. Import libraries
import pandas as pd
import numpy as np

# 2. Load dataset
df = pd.read_csv("../content/drive/MyDrive/student_performance.csv")

# 3. Preview data
df.head()

,student_id,gender,study_time,attendance,parental_education,previous_score,score
0,1,F,3,85,Graduate,68,72
1,2,M,2,78,HighSchool,60,65
2,3,F,4,92,Graduate,75,80
3,4,M,1,70,HighSchool,55,58
4,5,F,3,88,PostGraduate,72,78

In [3]:
# 5. Check missing values
df.isnull().sum()

student_id            0
gender                0
study_time            0
attendance            0
parental_education    0
previous_score        0
score                 0
dtype: int64

In [4]:
# 6. Handle missing values
df.fillna({
    'study_time': df['study_time'].median(),
    'attendance': df['attendance'].median()
}, inplace=True)

In [5]:
# 7. Encode categorical variables
df['gender'] = df['gender'].map({'M': 0, 'F': 1})
df['parental_education'] = df['parental_education'].astype('category').cat.codes

In [6]:
# 8. Save cleaned data
df.to_csv("../content/drive/MyDrive/cleaned_student_data.csv", index=False)

df.head()

,student_id,gender,study_time,attendance,parental_education,previous_score,score
0,1,1,3,85,0,68,72
1,2,0,2,78,1,60,65
2,3,1,4,92,0,75,80
3,4,0,1,70,1,55,58
4,5,1,3,88,2,72,78